/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;margin:0;padding:0;}fieldset,img{display:block; border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}


html { 
height: 100%; 
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container
{
	display:block;
	overflow:hidden;
	
}
.container > h1 a {
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	padding: 0 0 0 10px;
	color: #fff;
	font-weight: 700;
}

.container > h1 a:hover,
.container > h1 a.demo-current {
	color: #222;
}

.header img
{
	width:100%;
	position:fixed;
	z-index:10;
}

.content{
	overflow:hidden;
	min-height:640px;

}

#menu
{
background:url(../images/dessert8.jpg) no-repeat;
background-position:0% 20%;
}

#menu h1{
	color:#B8882A;
	font-size: 300%;
	font-family:"Blessed day",arial,sans-serif;
}
#menu p{
	color:#000;
	margin-top:10px;
	margin-left:50px;
	font_size:170%;
	font-family:"Trench",arial,sans-serif;
}

 #overlay
 {
	 width:100%;
	 height:100%;
	 position:fixed;
	 left:0;
	 z-index:1001;
	 display:none;
 }
 
  .popup
 {
	
	color:#000;
	width:250px;
	height:100%;
	position:fixed;
	z-index:1002; 
	top:54px;
	display:block;
	background:url(../images/cream2.jpg) repeat top center;
	
 }
 
#contactus 
 {
	padding-left:15px;
	font-family:"Trench",arial,sans-serif;
	border-left:2px solid #999;
	right:-250px;
	color:navy;
	font-size:30px;
 }
 
 
#contactus p
{
	font-family:"Trench",arial,sans-serif;
	padding-left:0;
	color:#000;
	font-size:18px;

}

  .close
 {
	margin-top:5px;
	margin-right:5px;
	float:right; 
 }
 
 .share img
 {
	 top:55px;
	 right:10px;
	 display:block;
	 background-size:contain;
	position:fixed;
	width:35px;
	height:35px;
	z-index:10000; 
 }

@media screen and (max-width: 960px){
	#menu{
		background-position:0 0 !important;
		background-attachment:fixed;
	}
}